<h3>Calendrier</h3>
<div>
  <span class="date-control" (click)="previousYear()"> &lt;</span>
  <span class="date-label">{{selectedYear}}</span>
  <span class="date-control" (click)="nextYear()"> &gt;</span>
</div>

<div style="margin-top: 1em;">
  <span class="date-control" (click)="previousMonth()"> &lt;</span>
  <span class="date-label">{{selectedMonthLabel}}</span>
  <span class="date-control" (click)="nextMonth()"> &gt;</span>
</div>

<table class="table table-striped table-bordered table-sm">
    <thead>
  <th *ngFor="let dayLabel of calendar.dayLabels">{{dayLabel}}</th>
    </thead>

  <tr *ngFor="let week of tabCalendar; let x=index;" >
    <td *ngFor="let day of week; let y=index;" (click)="selectBox(x,y)" [class]='checkBox(x,y)?"selected":"normal"'>
      {{day}}
    </td>
  </tr>

</table>
