# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/webapp/dist
/webapp/tmp
/webapp/out-tsc

# dependencies
/webapp/node_modules

.mvn
back_end/data
mvnw
mvnw.cmd
Z-Reporting.iml



# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/webapp/e2e/*.js
/webapp/e2e/*.map

# System Files
.DS_Store
Thumbs.db
