<div>
  <button (click)="previousYear()">Previous Year</button>
  <button (click)="nextYear()">Next Year</button>
</div>
<div>
  <button (click)="previousMonth()">Previous Month</button>
  <button (click)="nextMonth()">Next Month</button>
</div>

<h3>{{selectedMonthLabel}}--{{selectedYear}}</h3>
<table>
  <th *ngFor="let dayLabel of calendar.dayLabels">{{dayLabel}}</th>
  <tr *ngFor="let week of tabCalendar; let x=index;" >
    <td *ngFor="let day of week; let y=index;" (click)="selectBox(x,y)" [class]='checkBox(x,y)?"selected":"normal"'>
      {{day}}
    </td>
  </tr>
</table>
