<div class="container-fluid">
  <div class="row">
  <h1>Home</h1>
<button (click)="logout()" class="btn btn-danger">Déconnexion</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <app-calendar (onDateChange)="calendarDateChange($event)"></app-calendar>

      <button style="margin-top: 1em;" (click)="lockMonth()">Verrouiller</button>
    </div>

  <div class="col-md-8">
  </div>
      <p *ngIf="!monthLocked; else showMonth">Veuillez selectionner un mois</p>

      <ng-template #showMonth>

        <h3>{{monthLabel}}--{{year}}</h3>
          <table>

          <thead>
            <th>Lundi</th> <th>Mardi</th> <th>Mercredi</th> <th>Jeudi</th> <th>Vendredi</th><th>Samedi</th><th>Dimanche</th>
          </thead>
          <tbody>

          <tr *ngFor='let week of selectedMonthTab; let x=index;'>

            <td *ngFor='let day of week; let y=index;' >

              <span *ngIf='day!=-1' (click)="addDay(x,y)" [class]="isSelected(x,y)?'selected':'normal'" [class]="isHalf(x,y)? 'half': 'full'" >
                {{day}}
              </span>
              <span *ngIf='day==-1' class="empty_cell">__</span>

            </td>
          </tr>

          </tbody>

        </table>
      </ng-template>
  </div>


</div>
